body {
    background-color: #F5B923 ;
    }
    
    .gauche{
        height: 400px;
        width: 30%;
    }
    
    .gauche img{
        height: 400px;
        width: 400px;
    }
    
    .droite {
    
        height: 400px;
        width: 70%;
        font-size: 40px;;
    }
    
    section{
        display: flex;
        justify-content: space-between;
        border: #F52397 ;
        border-style: dotted;
    }
    
    .info{
        display: flex;
    }
    