@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;800&display=swap');
/* pris par Pouniflu */ 

body {
    cursor: default;
    margin: 0 10px;
}

/* HEADER */

.prez{
    background-image: url(../img/bougy.jpg);
    background-size: cover;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
    text-decoration: underline;
    color: darkblue;
}

.container p{
    font-family: 'Epilogue', sans-serif;
    font-size: 1em;
    text-align: center;
}

/* MAIN */




/* FOOTER */